black==24.8.0
blinker==1.8.2
certifi==2024.8.30
click==8.1.7
cloudinary==1.41.0
colorama==0.4.6
distlib==0.3.8
filelock==3.16.0
Flask==3.0.3
Flask-Mail==0.10.0
flask-mysql-connector==1.1.0
Flask-MySQLdb==2.0.0
fpdf==1.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
mysqlclient==2.2.4
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.3.3
pygame==2.6.0
PyMySQL==1.1.1
pypdf==4.3.1
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.4
Werkzeug==3.0.4
